* {
    box-sizing: border-box;
}

body{
    background-image: url("back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#go_back_button{
    margin: 20px;
    margin-bottom: 10px;
    color: red;
}

#button{
    margin: 10px;
    color: red;
}
